html{
    font-size: 16px;
}
@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo/Heebo-VariableFont_wght.ttf);
}

img{
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
}
.paragraph-show-information{
    max-width: 40%;
    margin-right: 2rem;
    width: 40%;
    margin-left: 7.5%;
    margin-bottom: 1rem;

    font-family: 'Heebo';
    font-style: light;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;

    color: #000000;
}
.lil_header{
    position: relative;

    width: 50%;
    margin-left: 5%;

    
    margin-top: 2rem;
    font-family: 'Heebo';
    font-style: medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;

    color: #000000;
}

.feather-10{
    width: 10px;
    height: 10px;
}

.feather-24{
    width: 24px;
    height: 24px;
}

.feather-48{
    width: calc(1.5rem + 1.5vw);
    height: calc(1.5rem + 1.5vw);
    display: inline-block;
    
    color: #005fff
}

#title_header{
    position: relative ;
    width: 90%;
    margin-left: 5%;

    min-width: 2rem;
    max-height: 50rem;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 5rem;
    text-align: center;
    
    color: #000000;
    
}

.icons-paragraph{
    display: grid;
    
    text-align: center;
    grid-template-rows: [row-start row-1-start] 1fr [row-1-end row-2-start] 1fr [row-2-end row-end];;
    grid-template-columns: repeat(4,1fr);
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Heebo';
    font-size: 1.8em;
}
.text_w_icons{
    display:inline-block;
    font-size: medium;
    font-family:  'Heebo';
}
.title_icon_text{
    margin: 0;
     display: inline-block;
    align-items:  center;
    justify-content: center;
    vertical-align: middle;
    font-family: 'Heebo';
    font-weight: 400;
    font-size: calc(0.8rem + 1vw);
    padding-bottom: 24px;
    
   
}
.text_u_icons{
    text-align: center;
    margin-top:1rem;
    padding-left: 1rem;
    font-size: calc(0.3rem + 1vw);

}


.card-text{
    font-size: 2rem;
}

.parrafos-info-event{
    margin-left:4rem;
}
#button-inscription{
    transition: background-color 0.3s ease;
    background-color: #0069FF; 
    color:white; 
    border:none; 
    border-radius: 8px; 
    width:10rem; 
    margin-left:10rem;
}


#button-inscription:hover {
    background-color: orange; 
  }
  
 #button-inscription:active {
    background-color: darkblue;
  }
  

  .image-mapa{
    display: inline-block;
    width: 30rem;
    height: 22rem;
    margin:0;
    margin-left:1rem;
    border: 1px gray solid;
  }


  .fa-map-location-dot{
    font-size: 2.5rem;
  }

  .fa-person, .fa-calendar-days{
    text-align: center;
    font-size: 3rem;
  }
  .fa-clock{
    font-size: 2.5rem;
    margin-left: 1rem
  }