body{
    background: #282d2e;
}
p{
    font: 20px bold;
    font-family: 'Zen Antique';
    text-decoration: underline;
}

.Links{
    font: 20px bold;
    font-family: 'Zen Antique';
    position: absolute;
    top: 50px;
}
.fa-calendar{
    font: 20px;
}
.fa-user{
    font:20px;
}
.fa-searchengin{
    font:20px;
    color: #FF8A00;
}
.fa-twitter{
    font:20px;
    color: #00D1FF;
}
.fa-youtube{
    font: 20px;
    color: red;
}
.fa-tiktok{
    font: 20px;
    color: #FFFF;
}
.fa-figma{
    font: 20px;
}
.fa-github{
    font:20px;
}
.fa-phone{
    font:20px;
    
}
.fa-trello{
    font:20px;
    color: #0085FF;
}
.fa-whatsapp{
    font: 20px;
    color: #24FF00;
}
.fa-envelope{
    font: 20px;
}
.Planificar {
    position: absolute;
    width: 239px;
    height: 26px;
    left: 61px;
    top: 28px; 
}  
.SobreNosotros {
    position: absolute;
    width: 192px;
    height: 26px;
    left: 416px;
    top: 32px;
}
.Desarrollo{
    position: absolute;
    width: 192px;
    height: 26px;
    left: 884px;
    top: 27px;
}  
.Contacto {
    position: absolute;
    width: 270px;
    height: 26px;
    left: 1170px;
    top: 25px; 
}
img{
    position: absolute;
    width: 175px;
    height: 175px;
    left: 645px;
    top: 21px;
}
.content::after {
    content: "";
    clear: both;
    display: table;
}
a {
    color: rgb(255, 255, 255); 
    text-decoration: none; 
}
a:hover {
    text-decoration: underline; 
}
