
.links-footer{
    margin-right: 0.5rem;
    font: 20px;
}
.fa-searchengin{
    color: #FF8A00;
}
.fa-twitter{
    color: #00D1FF;
}
.fa-youtube{
    color: red;
}
.fa-tiktok{
    color: #851111;
}
.fa-trello{
    color: #0085FF;
}
.fa-whatsapp{
    color: #24FF00;
}
.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  
.footer-grid {
    display: grid;
    flex-direction: row;
    width: 80%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    margin: auto;
  }
  
.col1, .col2, .col3, .col4, .col5 {
    text-align: center;
    padding: 10px;
}
.col1, .col2, .col4, .col5{
    margin-top: 1rem;
}

.row1, .row2, .row3 {
    text-align: left;
    margin-left:2rem;
}

.logo-footer-img-ulpgc{
    width: 10rem;
}

.title-footer{
    font-size: 1.2rem;
}

.links-footer-options{
    color: white;
    text-decoration: none;
}


.title-footer{
    color: white;
    text-decoration: none;
    margin-top: 1rem;    
}
#footer{
    margin-top: 2rem;
    background-color: #4D4C4C;
}

@media only screen and (max-width: 1000px) {
    .footer-grid{
        display: none;
    }
}

@media only screen and (min-width: 1100px) {
    .flex-wrapper {
        min-height: calc(18vh + 10vw);
        display: flex;
        flex-direction: column;
      }
    
      .footer-grid {
        flex-grow: 1;
      }
}
