.fa-calendar{
    font: 20px;
}
.fa-user{
    font:20px;
}
.fa-searchengin{
    font:20px;
    color: #FF8A00;
}
.fa-twitter{
    font:20px;
    color: #00D1FF;
}
.fa-youtube{
    font: 20px;
    color: red;
}
.fa-tiktok{
    font: 20px;
    color: #851111;
}
.fa-figma{
    font: 20px;
}
.fa-github{
    font:20px;
}
.fa-phone{
    font:20px;
    
}
.fa-trello{
    font:20px;
    color: #0085FF;
}
.fa-whatsapp{
    font: 20px;
    color: #24FF00;
}
.fa-envelope{
    font: 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin: auto;
    width: 80%;
  }
  
  .col1, .col2, .col3, .col4, .col5 {
    text-align: center;
    padding: 10px;
  }
  .row1, .row2, .row3 {
    text-align: left;
    margin-left:2rem;
  }

  .logo-footer-img-ulpgc{
    width: 10rem;
  }
  .col1, .col2, .col4, .col5{
    margin-top: 1rem;
  }

.title-footer{
    font-size: 1.2rem;
}

.links-footer{
    margin-right: 0.5rem;
}

.links-footer-options{
    color: white;
    text-decoration: none;
}

.title-footer{
    color: white;
    text-decoration: underline;
    margin-top: 1rem;    
}
#footer{
    margin-top: 2rem;
}