header{
    background: #fff;
}
img{
    width: 111px;
    height: 138px;
}
i{
    color: rgba(255, 153, 0, 0.87);
}
body{
    background: #777;   
}
.btn_edit{
    text-decoration: none;
}
.head, .logo_header, .utilidades_header, .buscar, .usuario, .derecha, .izquierda{
    display: inline-block;
}

.head{
    display: flex;
}

.derecha{
    float: right ;
    margin: 2rem;
}

.utilidades_header{
    padding: 40px;
}

.usuario{
    margin-left: 2rem;
}

#calendar{ 
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
}

#comment{
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
}

#search{
    font-style: normal;
    font-weight: 400px;
    font-size: 55px;
}

#user{
    font-style: normal;
    font-size: 90px;
}

#buscar{
    width: 374px;
    height: 51px;

    margin-left: 20px;
    background: #d9d9d9;
    border: 1px solid #000;

    font-size: 1.5rem;
}