header{
    background: #fff;
}
img{
    width: 111px;
    height: 138px;
    margin-left: 48px;
    margin-top: 14px;
}
i{
    color: rgba(255, 153, 0, 0.87);
}
body{
    background: #777;   
}

#calendar{
    position: absolute;
    width: 61px;
    height: 75px;
    left: 325px;
    top: 46px;

    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
}

#comment{
    position: absolute;
    width: 61px;
    height: 75px;
    left: 441px;
    top: 46px;

    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
}

#search{
    position: absolute;
    width: 61px;
    height: 75px;
    left: 840px;
    top: 46px;

    font-style: normal;
    font-size: 55px;
    line-height: 55px;
}

#user{
    position: absolute;
    width: 92px;
    height: 88px;
    left: 1321px;
    top: 14px;

    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 103px;
    text-align: center;
}

#buscar{
    position: absolute;
    width: 374px;
    height: 51px;
    left: 901px;
    top: 46px;

    background: #d9d9d9;
    border: 1px solid #000;

    font-size: 1.5rem;
}
