#logo-header-ulpgc {
    width: 5rem;
}
.hidden {
    display: none;
}  

.header-color-options {
    color: #ffae00;
}
.dropdown-toggle::after {
    background-image: none !important;
}
.sticky{
    position: sticky;
    top: 0;
}
#header{
    z-index: 100;
}
