.redirect-to-show{
    color: black;
    text-decoration: none;
}

.card:hover {
    background-color: #f2f2f2;
  }

.card{

    transition: box-shadow 0.6s ease-in-out;
    cursor: pointer;
}
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px #aaaaaa;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
  }


.col{
    margin-bottom: 1rem;
}