.InformacionPerfil{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 15%;
    margin-bottom: 10%;
    float: left;
    width: 60%;
    height: 60%;
    background-color: #F3F0F0;
}
.InformacionUsuario{
    margin-left: 20%;
}

.datosUsuario{
    float: right;
    margin-top: 5%;
    font-size: 100%;
    margin-right: 10%;
    margin-left: 0%;
}
.FotoDePerfil{
    height: 16em;
    width: 40%;
    float:left;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 0%;
    border-radius: 100%;
}
.BotonesPerfil{
    margin-top: 5%;
    margin-left: 67%;
    background-color: #F3F0F0;
    position:absolute;
}
.Modificar{
    margin-top: 40%;
    margin-left: 5%;
    width: 90%;
    height: 90%;
    margin-right: 90%;
    background-color: blue;
    color: white;
    font-size: 150%;
}
.Eliminar{
    margin-left: 5%;
    width: 90%;
    height: 90%;
    margin-bottom: 40%;
    margin-right:90%;
    background-color: red;
    color: white;
    font-size: 150%;
}
footer{
    margin-top: 40%;
}