html{
    font-size: 16px;
}
@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo/Heebo-VariableFont_wght.ttf);
}
#page_element{
    margin: 4%;
    
}
#header-lista-eventos-usuario{
    margin: 4%;
}
#excel-button{
    margin-left: 4%;
    margin-top: -2%;
}
#table-event-list{
    border-radius: 12%;
}
.date-field{
    font-weight: 500;
}