html{
    font-size: 16px;
}
@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo/Heebo-VariableFont_wght.ttf);
}
#title_header{
    position: relative ;
    width: 90%;
    margin-left: 5%;


    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 81px;
    text-align: center;
    
    color: #000000;
    
}

img{
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
}
.lil_header{
    position: relative;

    width: 50%;
    margin-left: 5%;

    
    margin-top: 2rem;
    font-family: 'Heebo';
    font-style: medium;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;

    color: #000000;


}

p{
    position: relative;

    width: 40%;
    margin-left: 7.5%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-family: 'Heebo';
    font-style: light;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;

    color: #000000;

}
.feather-10{
    width: 10px;
    height: 10px;
}

.feather-24{
    width: 24px;
    height: 24px;
}

.feather-48{
    width: 42px;
    height: 42px;
    color: #005fff
}