html{
    font-size: 16px;
}

@font-face {
    font-family: 'Heebo';
    src: url(../fonts/Heebo/Heebo-VariableFont_wght.ttf);
}

#h1h{
    margin: 4%;
}
#user_table{
    margin: 4%;
    
}

#user{
    display: inline-block;
    width: 45%;
    height: auto;
}

#boton{
    display: inline-block;
}

#search_btn{
    display: inline-block;
    border-color: white;
    color: black;
}
.btn-outline-success{
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: none;
}


#search2{
    display: inline-block;
    border-style: solid;
    border-width: thin;
    width: 20%;
}

#holder{
    border: none;
}