
<div class="categoryBarComponent" id="categoryBarComponent">
    <h4 style="text-align: center;" id="header-category" class="titleBarComponent"></h4>
    <hr class="line-category-bar">
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-bar" onclick="onlyOneCategory(this)"  name="check-category"  type="checkbox" id="blankCheckbox">
        <p class="options-category" id="asadero-category"></p>
    </div>

    <div class="form-check">
        <input class="form-check-input position-static filtro-bar" onclick="onlyOneCategory(this)"  name="check-category" type="checkbox" id="blankCheckbox">
        <p  class="options-category" id="charla-category"></p>
    </div>
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-bar" onclick="onlyOneCategory(this)"  name="check-category" type="checkbox" id="blankCheckbox">
        <p class="options-category" id="reunion-informativa-category"></p>
    </div>
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-bar" onclick="onlyOneCategory(this)"  name="check-category" type="checkbox" id="blankCheckbox">
        <p class="options-category" id="curso-formativo-category"></p>
    </div>
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-bar" onclick="onlyOneCategory(this)"  name="check-category" type="checkbox" id="blankCheckbox">
        <p class="options-category" id="otros-category"></p>
    </div>
    
    <hr class="line-category-bar">
    <h4 style="text-align: center;"id="header-aforo-category" class="titleBarComponent"></h4>
    <hr class="line-category-bar">
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-category" onclick="onlyOne(this)"  name="check" type="checkbox" id="blankCheckbox">
        <p class="options-category" id="cero-category">0-50</p>
    </div>
        
    <div class="form-check">
        <input class="form-check-input position-static filtro-category" onclick="onlyOne(this)" name="check" type="checkbox" id="blankCheckbox">
        <p  class="options-category" id="cincuenta-category">50-100</p>
    </div>
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-category" onclick="onlyOne(this)" name="check" type="checkbox" id="blankCheckbox">
        <p class="options-category" id="cien-category">100-150</p>
    </div>
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-category" onclick="onlyOne(this)" name="check" type="checkbox" id="blankCheckbox">
        <p class="options-category" id="ciento-cuenta-category">150-200</p>
    </div>
    
    <div class="form-check">
        <input class="form-check-input position-static filtro-category" onclick="onlyOne(this)" name="check" type="checkbox" id="blankCheckbox">
        <p class="options-category" id="dos-cientos-category">+200</p>
    </div>
        
    <hr class="line-category-bar">
    <h4 style="text-align: center;" id="header-fecha-category" class="titleBarComponent"></h4>
    <hr class="line-category-bar">
    
    <h5 style="margin-bottom: 1rem;"class="titleBarComponent" id="header-desde-category"></h4>
    <input type="date" class="form-control" name="check-date">
        
    <h5 style="margin-bottom: 1rem; margin-top: 1rem;" id="header-hasta-category"class="titleBarComponent form-label"></h4>
    <input type="date" class="form-control" name="check-date">
    <hr class="line-category-bar">
        
    <div class="d-grid gap-2">
        <button type="button" onclick="filterCards()" class="btn btn-light mb-2" id="aplicar-filtros"></button>
        <button type="button" onclick="deleteFilter()" class="btn btn-light mb-2" id="borrar-filtros"></button>
    </div>
</div>
