<div class="flex-wrapper">
<div class="footer-grid">

    <div class="col1">
      <h2 class="title-footer" id="planify-footer"></h2>
      <div class="row1"><a id="buscar-evento" class="links-footer-options"></a></div>
      <div class="row2"> <a class="links-footer-options" id="planificar-evento"></a></div>
      <div class="row3"><a class="links-footer-options" id="calendario"></a></div>
    </div>
  
    <div class="col2">
        <h2 class="title-footer" id="about-us-footer"></h2>
      <div class="row1"><a href="https://www.tiktok.com/es/" id ="tik-tok" class="links-footer-options"></a></div>
      <div class="row2"><a href="https://twitter.com/?lang=es" id ="twitter" class="links-footer-options"></a></div>
      <div class="row3"><a href="https://www.youtube.com" id ="youtube" class="links-footer-options"></div>
    </div>
  
    <div class="col3">
      <div class="row1"></div>
      <div class="row2"><img src="../../images/logo.png" class="logo-footer-img-ulpgc" alt="Descripción de la imagen"></div>
      <div class="row3"></div>
    </div>
  
    <div class="col4">
      <h2 class="title-footer"id="develop-footer"></h2>
      <div class="row1"><a href="https://github.com/AlejandroDavidArzolaSaavedra/SCRUM_ULPGC_EVENTS_Grupo13" id="git-hub" class="links-footer-options"></a></div>
      <div class="row2"><a href="https://trello.com/b/nBHSu4pW/product-backlog" class="links-footer-options" id="trello"></a></div>
      <div class="row3"><a href="https://www.figma.com/file/i2U3kT8vPAocrk8Yyp8LQJ/Proyecto-PS-grupo-13?node-id=3-11&t=WzmczmO6WtfPJ81F-0" id="figma"  class="links-footer-options"></a></div>
    </div>
  
    <div class="col5">
      <h2 class="title-footer" id="contact-footer"></h2>
      <div class="row1"><a class="links-footer-options" id="correo-footer"></a></div>
      <div class="row2"><a class="links-footer-options" id="whatsapp-footer"></a></div>
      <div class="row3"><a class="links-footer-options" id="telefono-footer"></a></div>
    </div>
  </div>
</div>  
