<div class = "FooterTotal">
    <div class="contentFooter">
        <div class="PlanificarFooter">
          <p class = "FooterContent">PLANIFICAR EVENTOS</p>
          <t class='Links'><a href=""><i class="fa-brands fa-searchengin"></i>Buscar eventos</a><br>
            <a href=""><i class="fa-regular fa-user"></i>Planificar eventos</a><br>
            <a href=""><i class="fas fa-calendar"></i>Calendario</a></t>
        </div>
        <div class="SobreNosotrosFooter">
            <p class = "FooterContent">SOBRE NOSOTROS</p>
            <t class='Links'><a href="https://www.tiktok.com/es/"><i class="fa-brands fa-tiktok"></i>Tiktok</a><br>
                <a href="https://twitter.com/?lang=es"><i class="fa-brands fa-twitter"></i>Twitter</a><br>
                <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i>Youtube</a></t>
        </div>
        <div class="imgFooter">
            <img src = ../../images/logo.png>
        </div>
        <div class="DesarrolloFooter">
            <p class = "FooterContent">DESARROLLO</p>
            <t class='Links'><a href="https://github.com/AlejandroDavidArzolaSaavedra/SCRUM_ULPGC_EVENTS_Grupo13"><i class="fa-brands fa-github"></i>Github</a><br>
              <a href="https://trello.com/b/ksPvd96e/sprint-zero"><i class="fa-brands fa-trello"></i>Trello</a><br>
              <a href="https://www.figma.com/file/i2U3kT8vPAocrk8Yyp8LQJ/Proyecto-PS-grupo-13?node-id=3-11&t=WzmczmO6WtfPJ81F-0"><i class="fa-brands fa-figma"></i>Figma</a></t>
        </div>
        <div class="ContactoFooter">
            <p class = "FooterContent">CONTÁCTANOS</p>
            <t class='Links'><a href=""><i class="fa-regular fa-envelope"></i>Correo</a><br>
                  <a href=""><i class="fa-brands fa-whatsapp"></i>Whatsapp</a><br>
                  <a href=""><i class="fa-solid fa-phone"></i>Teléfono</a></t>
        </div>
    </div>
</div>