<div class="footer-grid">
    <div class="col1">
      <h2 class="title-footer" id="planificar-evento-footer">PLANIFICAR EVENTO</h2>
      <div class="row1"><t class='Links'><a href="" class="links-footer-options"><i class="fa-brands fa-searchengin links-footer"></i>Buscar eventos</a></div>
      <div class="row2"> <a href="" class="links-footer-options"><i class="fa-regular fa-user links-footer"></i>Planificar eventos</a></div>
      <div class="row3"><a href="" class="links-footer-options"><i class="fas fa-calendar links-footer"></i>Calendario</a></t></div>
    </div>
    <div class="col2">
        <h2 class="title-footer">SOBRE NOSOTROS</h2>
      <div class="row1"><t class='Links'><a href="https://www.tiktok.com/es/" class="links-footer-options"><i class="fa-brands fa-tiktok links-footer"></i>Tiktok</a></div>
      <div class="row2"><a href="https://twitter.com/?lang=es" class="links-footer-options"><i class="fa-brands fa-twitter links-footer"></i>Twitter</a></div>
      <div class="row3"><a href="https://www.youtube.com" class="links-footer-options"><i class="fa-brands fa-youtube links-footer"></i>Youtube</a></t></div>
    </div>
    <div class="col3">
      <div class="row1"></div>
      <div class="row2"><img src="../../images/logo.png" class="logo-footer-img-ulpgc" alt="Descripción de la imagen"></div>
      <div class="row3"></div>
    </div>
    <div class="col4">
      <h2 class="title-footer">DESARROLLO</h2>
      <div class="row1"><t class='Links'><a href="https://github.com/AlejandroDavidArzolaSaavedra/SCRUM_ULPGC_EVENTS_Grupo13" class="links-footer-options"><i class="fa-brands fa-github links-footer"></i>Github</a></div>
      <div class="row2"><a href="https://trello.com/b/ksPvd96e/sprint-zero" class="links-footer-options"><i class="fa-brands fa-trello links-footer"></i>Trello</a></div>
      <div class="row3"><a href="https://www.figma.com/file/i2U3kT8vPAocrk8Yyp8LQJ/Proyecto-PS-grupo-13?node-id=3-11&t=WzmczmO6WtfPJ81F-0"  class="links-footer-options"><i class="fa-brands fa-figma links-footer"></i>Figma</a></t></div>
    </div>
    <div class="col5">
      <h2 class="title-footer">CONTÁCTANOS</h2>
      <div class="row1"><t class='Links'><a href=""  class="links-footer-options"><i class="fa-regular fa-envelope  links-footer"></i>Correo</a></div>
      <div class="row2"><a href=""  class="links-footer-options"><i class="fa-brands fa-whatsapp links-footer" ></i>Whatsapp</a></div>
      <div class="row3"><a href=""  class="links-footer-options"><i class="fa-solid fa-phone links-footer"></i>Teléfono</a></t></div>
    </div>
  </div>
  
