<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create Event</title>
    </head>
    <body>
        <h2>Crear Evento</h2>
        <label>Nombre del evento</label>
        <input type="text" value="*Campo requerido max(50 caracteres)"/>
        <br>
        <label>Lugar del evento</label>
        <input type="text" value="*Campo requerido max(50 caracteres)"/>
        <br>
        <label>Tipo de evento</label>
        <select name="Seleccione evento">
            <option>Charlas</option>
            <option>Reuniones Informativas</option>
            <option>Asaderos</option>
            <option>Fiesta</option>
            <option>Cursos formativos</option>
            <option>Senderismo</    option>
            <option>Otros</option>
        </select>
        <br>
        <button name="button">Push me</button>
    </body>
</html>