<div id="First">
    <div class="container-form">
        <div class="form-create-event">
          <h2 class="crear-event-form-title center">Crear Evento</h2>
          <div class="center">
            <img src="../../images/createEvent/SecondStepCreateEvent.PNG" class="imagen-create-event" alt="Pasos de la creacion">
          </div>
          <div class="fields-form">
            <label class="labelContainer" style="display: block; margin-right:7rem;">Descripcion</label>
            <input type="text" style="display: block; width:15rem;height:15rem;margin-left:2rem;">

              </div>
            </div>
          </div>
          <div class="button-form center">
            <button name="button" style="margin-left:18rem; margin-top:2rem; border: none; width:3rem;height: 2rem;border-radius:5px;background: #0069FF;color: white;"><i class='fas fa-forward'></i></button>
          </div>
        </div>
      </div>
    </div>
      
      <style>
        .fields-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            }
        .imagen-create-event{
            width:15rem;
        }
    
        .fields-form{
            text-align: center;
        }
        .center {
          text-align: center;
        }
      
        .labelContainer {
          margin-top: 10px;
          margin-bottom: 5px;
        }
      </style>
      