
<div class="crear-evento mt-4" style="text-align:center;">
  <div id="First" >
  <div class="container-form">
      <div class="form-create-event" id="container-form-first-part-event">
        <h2 class="modify-event-form-title mt-4"></h2>
        
        <div class="center" style="width: 75%; margin-left: 2rem;">
          <div class="progress">
            <div class="bg-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
          </div>
        </div>
          <label class="labelContainer " id="nombre-evento-crear" style="display: block;margin-left:2.5rem; text-align: left;"></label>
          <input type="text" class="form-control" id="input-create-event-nombre" placeholder="*Campo requerido max(50 caracteres)" style="display: block; width:19rem;margin-left:2rem">
          <label class="labelContainer form-label" id="lugar-evento-crear" style="display: block; margin-left:2.5rem;text-align: left;"></label>
          <input type="text" class="form-control " id="input-create-event-lugar" placeholder="*Campo requerido max(50 caracteres)" style="display: block;width:19rem;margin-left:2rem;">
          <label class="labelContainer form-label" id="tipo-evento-crear" style="display: block; margin-left:2.5rem;text-align: left;"></label>
          <div class="field-select">
            <div class="field-left-select">
              
              <select name="Seleccione evento" class="form-select" id="input-create-type-event" style=" width: 19rem; margin-left:2rem; margin-right:2rem;">
                <option id="charla-form-crear-evento"></option>
                <option id="reunion-form-crear-evento"></option>
                <option id="asadero-form-crear-evento"></option>
                <option id="curso-form-crear-evento"></option>
                <option id="otros-form-crear-evento"></option>
              </select>
            </div>
          </div>
          <div class="button-form center">
            <button name="button" class="mb-5" type="button" onclick="valForm(1)" href="createEventsecond.html" style="margin-left:12rem; margin-top:2rem; border: none; width:5rem;margin-right:3rem;height: 3rem;border-radius:5px;background: #00A3FF;color: white; font-size: 2rem;"><i class='fas fa-forward'></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>



    <div id="Second" class="displayoff">
      <div class="container-form" style="text-align: center;">
          <div class="form-create-event" style="width:23rem;height:30rem;" id="container-form-second-part-event">
            <h2 class="modify-event-form-title mt-4"></h2>           
            <div class="center" style="width: 75%; margin-left: 2rem;">
              <div class="progress">
                <div class="bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
              </div>
            </div>
              <label class="labelContainer form-label" id="descripcion-evento-crear" style="display: block; text-align: left; margin-left: 4.5rem;"></label>
              <div class="fields-form">
              <textarea type="text" id="input-create-event-descripcion" class="form-control" style="display: block; width:15rem;height:13.3rem;"></textarea>
            </div>
            <div class="button-form center">
              <button name="button"  type="button" onclick="valFormReturn(2)" style="margin-top:1rem; border: none; width:5rem;height: 3rem;border-radius:5px; display:inline-block;background: #F63131;font-size:1.8rem;color: white; font-weight: bold; margin-right:2rem;"><bold><i class="fa-solid fa-rotate-left"></i></bold></button>
              <button name="button" class="mb-4" type="button" onclick="valForm(2)" href="createEventsecond.html" style="margin-top:2rem; border: none; width:5rem;height: 3rem;border-radius:5px;background: #00A3FF;color: white; font-size: 1.9rem;"><i class='fas fa-forward'></i></button>
            </div>    
          </div> 
            </div>
          </div>
        


  <div id="Third" class="displayoff">
    <div class="container-form" style="text-align: center;">
      <div class="form-create-event" style="width:23rem;height:30rem;" id="container-form-second-part-event">
        <h2 class="modify-event-form-title mt-4"></h2>
        <div class="center" style="width: 75%; margin-left: 2rem;">
          <div class="progress">
            <div class="bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
          </div>
        </div>
            <label class="labelContainer form-label" id="aforo-evento-crear" style="display: block;text-align: left; margin-left: 2.5rem;"></label>
            <div class="fields-form">
            <input type="text" class="form-control " id="input-create-event-aforo" placeholder="*Campo requerido max(50 caracteres)" style="display: block;width:19rem;margin-left:2rem;  margin-right:2rem;">
            </div>
            <label class="labelContainer form-label" id="fecha-evento-crear" style="display: block; text-align: left; margin-left: 2.5rem;"></label>
            <div class="fields-form">
            <input type="date" class="form-control"id="input-create-event-fecha" style="width:19rem;" name="fecha">
            </div>
            <div  id="hora-evento-crear"style="text-align: left; margin-top:1rem;margin-left:2.5rem;margin-bottom:0.5rem">asdasd</div>
            <div class="fields-form">
                  <input class="form-control" id="input-create-event-hour" type="time" style="width:19rem" id="formDate-hour">
              </div>
              
            <div class="button-form center">
              <button name="button"  type="button" onclick="valFormReturn(3)" style="margin-top:1rem; border: none; width:5rem;height: 3rem;border-radius:5px; display:inline-block;background: #F63131;font-size:1.8rem;color: white; font-weight: bold; margin-right:2rem;"><bold><i class="fa-solid fa-rotate-left"></i></bold></button>
              <button name="button" class="mb-4" type="button" onclick="valForm(3)" href="createEventsecond.html" style="margin-top:2rem; border: none; width:5rem;height: 3rem;border-radius:5px;background: #00A3FF;color: white; font-size: 1.9rem;"><i class='fas fa-forward'></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div id="Fourth" class="displayoff"  style="text-align: center;">
      <div class="container-form">
        <div class="form-create-event" style="width:23rem;height:30rem;" id="container-form-second-part-event">
          <h2 class="modify-event-form-title mt-4"></h2>
            <div class="center" style="width: 75%; margin-left: 2rem;">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
              </div>
            </div>

              <label class="labelContainer" id="info-adicional-evento-crear"style="display: block;text-align: left; margin-left:4.5rem;">Info Adicional</label>
              <div class="fields-form">
              <textarea type="text" class="form-control" id="input-create-event-info-adicional" style="display: block; width:15rem;height:13.3rem;"></textarea></div>
                
              <div class="button-form center" style="display: inline-block;">
                <button name="button"  type="button" onclick="valFormReturn(4)" style="margin-top:2rem; border: none; width:5rem;height: 3rem;border-radius:5px; display:inline-block;background: #F63131;font-size:1.5rem;color: white; font-weight: bold; width:6rem; margin-right:2rem;"><bold><i class="fa-solid fa-rotate-left"></i></bold></button>
                <button name="button" id="modify_evento_confirm_event-confirm" style="margin-top:2rem; border: none; width:5rem;height: 3rem;border-radius:5px; display:inline-block;background: #00A3FF;font-size:1.5rem;color: white; font-weight: bold; width:8rem"><bold>Crear</bold></button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>      
  
    <div class="modal fade" id="confirmar-creacion-evento-modal" tabindex="-1" aria-labelledby="confirmar-creacion-titulo" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"id="modal-crear-evento">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmar-creacion-titulo"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="contenido-body-crear-evento"></div>
          <div class="modal-footer">
            <button type="button" id="deleteEventButton-Cancel" class="btn btn-secondary" data-bs-dismiss="modal"></button>
            <button type="button" id="CreateEventButtonCreate"class="btn btn-primary" id="confirmar-creacion-btn">Modificar</button>
          </div>
        </div>
      </div>
    </div>
  
  
  <style>
          .fields-form {
              display: flex;
              flex-direction: column;
              align-items: center;
              }
          .imagen-create-event{
              width:15rem;
          }
      
          .fields-form{
              text-align: center;
          }
          .center {
            text-align: center;
          }
        
          .labelContainer {
            margin-top: 10px;
            margin-bottom: 5px;
          }
          .displayoff{
            display: none;
          }
        </style>


