      <!-- nav Bar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-brand logo_header">
                <img id="logo" src="../../images/logo.png" alt="Logo ULPGC Events">
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i id="calendar" class="fas fa-calendar utilidades_header  iconos-header"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i id="comment" class="fas fa-comment utilidades_header  iconos-header"></i></a>
                    </li>
                </ul>
                </div>
                <form class="d-flex" role="search">
                    <div class="search-with-input">
                      <button class="btn btn-outline-success btn_edit" type="submit" style="border: none; font-size:1.5rem;"><i id="search" class="fas fa-search iconos-header"></i></button>
                      <input class="form-control me-2" type="search" id="search" placeholder="Buscar" aria-label="Search" style="margin-top: 1.5rem;">
                    </div>
                    <div>
                      <a class="nav-link active" data-bs-toggle="modal" data-bs-target="#loginModal" aria-current="page" href="#"><i id="user" class="fas fa-user usuario  iconos-header"></i></a>
                      
                      <div class="dropdown-center">
                        <button class="btn btn-secondary dropdown-toggle button-count-nav-var" style="background: none; color:black; border:none;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Cuenta
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" id="perfil-nav-var" href="#">Perfil</a></li>
                          <li><a class="dropdown-item" id="mis-eventos-nav-var" href="#">Mis eventos</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </nav>
  <!-- Modals Login -->

  <!-- Modal de Registrarse -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registrate</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="signup-form">
          <div class="form-group">
            <input type="text" id="signup-name" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <input type="text" id="signup-email" class="form-control" placeholder="Correo" required>
          </div>
          <div class="form-group">
            <input type="text" id="signup-phone" name="phone"  class="form-control"  placeholder="Numero de telefono" required>
          </div>
          <div class="form-group">
            <input type="password" id="signup-password" class=form-control placeholder="Contraseña" required>
          </div>
          <div class="form-group">
            <input type="password" id="signup-repeat-password" class=form-control placeholder="Repetir contraseña" required>
          <button type="button" class="btn btn-primary" id="logeate-head"><strong>Registrate</strong></button>
          <button type="submit" class="btn btn-primary" id="logeate-header"><strong>Logeate</strong></button>
      </div>
    </div>
  </div>
</div>

<script src="../../js/registrarse.js"></script>


<script>
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "firebase/app";
  import { getAnalytics } from "firebase/analytics";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyAv3QoKKOW_050RiN7aXHRzUpOwLxoqbP0",
    authDomain: "ulpgc-events-a59f5.firebaseapp.com",
    projectId: "ulpgc-events-a59f5",
    storageBucket: "ulpgc-events-a59f5.appspot.com",
    messagingSenderId: "1074689670789",
    appId: "1:1074689670789:web:b23976f4f3a2cf61dcf3ec",
    measurementId: "G-36W8TWRWWQ"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>