<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <img src="../../imagenes/logo.png">
        <i id="calendar" class="fas fa-calendar"></i>
        <i id="comment" class="fas fa-comment"></i>
        <i id="search" class="fas fa-search"></i>
        <i id="user" class="fas fa-user"></i>
    </header>
</body>
</html>