<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="head">
            <div class="logo_header">
                <img src="../../imagenes/logo.png" alt="Logo ULPGC Events">
            </div>
            <div class="utilidades_header">
                <i id="calendar" class="fas fa-calendar"></i>
                <i id="comment" class="fas fa-comment"></i>
            </div>
            <div class="buscar">
                <i id="search" class="fas fa-search"></i>
                <input id="buscar" type="text" value="Buscar">
            </div>
            <div class="usuario"> 
                <i id="user" class="fas fa-user"></i>
            </div>
        </div>
    </header>
</body>
</html>